/* CSS FOR NEW STREAMLINED PAGE */

@font-face {
  font-family: "opensans-regular";
  src: url("fonts/os/opensans-regular-webfont.woff2") format("woff2"),
       url("fonts/os/opensans-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "dinbold";
  src: url("fonts/db/dinbold-webfont.woff2") format("woff2"),
       url("fonts/db/dinbold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url("fonts/qks/Quicksand-Regular.woff2") format("woff2"),
       url("fonts/qks/Quicksand-Regular.woff") format("woff");
}

body {
    background-color: rgb(250, 250, 250);
}

body, footer {
    font-family: "opensans-regular", 'Arial, Helvetica', 'sans-serif';
}

div.logo-container {    
    background: #ffffff;
	background: linear-gradient(
		to right,
		#ffffff 0%,
		#ffffff 50%,
		#000000 50%,
		#000000 100%);
	height: 100vh;
}

img.stick {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

img.arrow {
    display: block;
    height: 50px;
    width: 60px;
    position: absolute;
    /* top: 0; */
    left: 0;
    right: 0;
    bottom: -300px;
    margin: auto;
}

.stickybar {
    /*border-top: 4px solid #ffffff;*/
    border-bottom: 5px solid #800000;
    background-color: #000000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;    
    text-align: center;
    z-index: 9999;
}

.fulllogo {
    height: 80px;
    padding-right: 0px;
    top: 50%;
    left: 50%;
}

a.hyperlogo {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.stick {
    height: 3.125rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.bio-container {
    padding: 4em;
}

img.bodylogos {
    display: block;
    padding: .5em;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 1.5em;
}

a.bodylogos {
    display: block;
    height: 100px;
    width: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

div.port-container {
    padding: 4em;
}

div.con-container {
    padding: 4em;
}

div.social-media {
    text-align: center;
    padding: 4em;
}

h1, h3, p {
    max-width: 600px;
    margin: 0 auto 1em;
}

p {
    line-height: 24px;
    font-size: 18px;
}

h1 {
    font-family: "dinbold";
    font-size: 2em;
}

h3 {
    font-family: "dinbold";
    font-size: 1.5em;
}

img.media-buttons {
    height: 48px;
    width: 48px;
}

#insta {
    height: 48px;
    width: 48px;
}

#twit {
    height: 48px;
    width: 48px;
}

#spot {
    height: 48px;
    width: 48px;
}

#sound {
    height: 48px;
    width: 48px;
}

footer, p.footer {
    text-align: center;
    /*padding: 4em;*/
    padding-bottom: 1em;
    font-size: 12px;
}

/* unvisited link */
a.links:link {
    color: #800000;
    text-decoration: none;
}

/* visited link */
a.links:visited {
    color: #700000;
    text-decoration: none;
}

/* mouse over link */
a.links:hover {
    color: #d10000;
    text-decoration: none;
}

/* selected link */
a.links:active {
    color: #b10000;
    text-decoration: none;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: 'Open Sans','Helvetica', 'Arial', 'sans-serif'; }


/* AUDIO.html CSS */
figure {
    padding: 4em;
    z-index: 2;
}

figcaption {
    padding-bottom: 1em;
    font-family: "dinbold";
    font-size: 16px;
}