@font-face {
    font-family: 'Agenda';
    src: url('Agenda-Light.woff2') format('woff2'),
        url('Agenda-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Agenda';
    src: url('Agenda-Bold.woff2') format('woff2'),
        url('Agenda-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

