@font-face {
    font-family: 'Cortado Script';
    src: url('CortadoScript.woff2') format('woff2'),
        url('CortadoScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

