@font-face {
    font-family: 'Agenda';
    src: url('Agenda-MediumCondensed.woff2') format('woff2'),
        url('Agenda-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

