/* CSS FOR ALL PAGES */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
}

.nav {
    text-align: center;
    padding: 1rem;
}

.navlinks {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-family: 'Overpass', sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

h1, h3, p {
    max-width: 600px;
    margin: 0 auto 0.5em;
}

p {
    line-height: 30px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;}

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2em;
    color: white;
    padding: 0.75em 0 1rem 0;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    color: white;
    padding-top: 0.75em;
    padding-bottom: 1rem;
}

.logo-container {   
    height: 90vh; 
}

.logo {
    height: 15vh;
}

img.stick {
    max-width: 100%;
    height: auto;
}

.fulllogo {
    height: 80px;
    padding: 5px;
    padding-top: 1px;
    top: 50%;
    left: 50%;
}

a.hyperlogo {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.toplogo {
    display: block;
    height: 100px;
    width: 100px;
    position: relative;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.stick {
    height: 3.125rem;
    position: sticky;
    top: 0;
}

/* BIO CARD STYLES */
.bio-container {
    background-color: #000;
    padding: 3.5em;
}

.port-container {
    background-color: #000;
    padding: 1rem 3rem 3rem 3rem;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.hyperlinks {
    font-family: 'Overpass', sans-serif;
    max-width: 414px;
    margin: 0 auto;
}

.hyperlinks .hyperlink {
    display: block;
    margin: 0 auto 10px;
    color: #fff;
    background-color: #383A3F;
    text-decoration: none;
    padding: 15px 0;
}

.hyperlinks .hyperlink:hover {
    color: #383A3F;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .hyperlink {
        width: 80%;
    }
}

.title {
    color: grey;
    font-size: 1.2em;
}

.card_logos {
    max-width: 50%;
}

.logos {
    display: flex;
    flex-direction: column;
}

/* BUTTON STYLES */
button#cardbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(50, 50, 50);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

button#cardbutton:hover, a.button#cardbutton:hover {
    opacity: 0.7;
}

/* PORTFOLIO FLEX */
/* .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto 0.5em;
} */

.home-row {
    flex-wrap: wrap;
    max-width: 40em;
    margin: 0 auto 0.5em;
    text-align: center;
}

/* SIZING CHANGES FOR "FINAL SHOTS"*/
@media only screen and (max-width: 600px) {
    .photo110 {    
        max-width: 18.750em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 600px) {
    .photo110 {   
        /* max-width: 37.500em; */ 
        max-width: 28.125em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

/* @media only screen and (min-width: 300px) {
    .photo110 {   
        max-width: 37.500em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }} */

/* SIZING CHANGES FOR "OTHERS"*/
@media only screen and (max-width: 600px) {
    .photo110_2 {    
        max-width: 9.375em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 600px) {
    .photo110_2 {    
        max-width: 18.75em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 1280px) {
    .photo110_2 {    
        /* max-width: 37.500em; */
        max-width: 28.125em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}     

/* SIZING CHANGES FOR "DIGITAL MEDIA GRID"*/
@media only screen and (min-width: 300px) {
    .images {
        max-width: 15em;
        height: auto;    
        padding: 0.250em;
    }}

@media only screen and (min-width: 600px) {
    .images {
        max-width: 9.375em;
        height: auto;    
        padding: 0.250em;
    }}

img.images {
    transition: filter .3s ease-in-out;
    filter: grayscale(0%);
}

img.images:hover {
    filter: grayscale(100%);
}

.images2x {
    max-width: 15.75em;
    height: auto;    
    padding: 0.250em;
}

/* SIZING CHANGES FOR "GOOGLE DRIVE VIDEOS"*/
@media only screen and (min-width: 300px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;
    }}

@media only screen and (min-width: 600px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 100px;
        margin-right: 100px;
    }}

@media only screen and (min-width: 1280px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 100px;
        margin-right: 100px;
    }
    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }}    

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* SIZING: SOCIAL MEDIA HYPERLINKS */
.social-media {
    text-align: center;
    padding: 3em;
}

.media-button {
    height: 50px;
    width: 50px;
}

.contact {
    text-align: center;
}

/* HOVER STYLES */

/* unvisited link */
a.links:link {
    color: #7878ff;
    text-decoration: none;
}

/* visited link */
a.links:visited {
    color: #0066ff;
    text-decoration: none;
}

/* mouse over link */
a.links:hover {
    color: #9a9aff;
    text-decoration: none;
}

/* selected link */
a.links:active {
    color: #316ae6;
    text-decoration: none;
}

a.links {
    font-family: 'Roboto', sans-serif;
}

footer, p.footer {
    text-align: center;
    padding: .5em 0 .5em 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/* BACK TO TOP BUTTON */
#myBtn {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

button.inline {
    font-family: 'Roboto', sans-serif;
    font-size: 1em; /* 16px */
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

button.inline:hover {
    background-color: #555;
}