/* CSS FOR ALL PAGES */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
}

.nav {
    text-align: center;
    padding: 1rem;
}

.navlinks {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-family: 'Overpass', sans-serif;
    font-size: 1em;
    color: white;
    text-decoration: none;
}

/*:target:before {
    content:"";
    display:block;
    height:90px; /~ fixed header height~/
    margin:-90px 0 0; /~ negative fixed header height ~/
    }*/

:target {
    padding-top: 79px;
    margin-top: -79px;
}

h1, h3, p {
    max-width: 600px;
    margin: 0 auto 0.5em;
}

p {
    line-height: 30px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    color: white;}

h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 2em;
    color: white;
    padding: 0.75em 0 1rem 0;
}

h3 {
    font-family: 'Overpass', sans-serif;
    font-size: 1.5em;
    color: white;
    padding-top: 0.75em;
    padding-bottom: 1rem;
}

.logo-container {   
    height: 90vh; 
}

.logo {
    height: 15vh;
}

img.stick {
    max-width: 100%;
    height: auto;
}

.fulllogo {
    height: 80px;
    padding: 5px;
    padding-top: 1px;
    top: 50%;
    left: 50%;
}

a.hyperlogo {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.toplogo {
    display: block;
    height: 100px;
    width: 100px;
    position: relative;
    top: 1rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.stick {
    height: 3.125rem;
    position: sticky;
    top: 0;
}

/* BIO CARD STYLES */
.bio-container {
    background-color: #000;
    padding: 3.5em;
}

@media screen and (max-width: 768px) {
    .bio-container {
        padding: 1.5em;
    }
}

.port-container {
    background-color: #000;
    padding: 1rem 3rem 3rem 3rem;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: rgb(25, 25, 25);
}

.hyperlinks {
    font-family: 'Overpass', sans-serif;
    max-width: 414px;
    margin: 0 auto;
}

.hyperlinks .hyperlink {
    display: block;
    margin: 0 auto 10px;
    color: #fff;
    background-color: #383A3F;
    text-decoration: none;
    padding: 15px 0;
}

.hyperlinks .hyperlink:hover {
    color: #9a9aff;
    background-color: transparent;
}

@media only screen and (max-width: 600px) {
    .hyperlink {
        width: 80%;
    }
}

.title {
    color: grey;
    font-size: 1.2em;
}

.card_logos {
    max-width: 50%;
}

.logos {
    display: flex;
    flex-direction: column;
}

/* BUTTON STYLES */
button#cardbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(50, 50, 50);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}

button#cardbutton:hover, a.button#cardbutton:hover {
    opacity: 0.7;
}

/* PORTFOLIO FLEX */
/* .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto 0.5em;
} */

.home-row {
    flex-wrap: wrap;
    max-width: 40em;
    margin: 0 auto 0.5em;
    text-align: center;
}

/* SIZING CHANGES FOR "FINAL SHOTS"*/
@media only screen and (max-width: 600px) {
    .photo110 {    
        max-width: 18.750em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 600px) {
    .photo110 {   
        /* max-width: 37.500em; */ 
        max-width: 28.125em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

/* @media only screen and (min-width: 300px) {
    .photo110 {   
        max-width: 37.500em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }} */

/* SIZING CHANGES FOR "OTHERS"*/
@media only screen and (max-width: 600px) {
    .photo110_2 {    
        max-width: 9.375em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 600px) {
    .photo110_2 {    
        max-width: 18.75em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}

@media only screen and (min-width: 1280px) {
    .photo110_2 {    
        /* max-width: 37.500em; */
        max-width: 28.125em;
        height: auto;    
        border: 3px solid rgb(100, 100, 100);
    }}     

/* SIZING CHANGES FOR "DIGITAL MEDIA GRID"*/
@media only screen and (min-width: 300px) {
    .images {
        max-width: 15em;
        height: auto;    
        padding: 0.250em;
    }}

@media only screen and (min-width: 600px) {
    .images {
        max-width: 9.375em;
        height: auto;    
        padding: 0.250em;
    }}

img.images {
    transition: filter .3s ease-in-out;
    filter: grayscale(0%);
}

img.images:hover {
    filter: grayscale(100%);
}

.images2x {
    max-width: 15.75em;
    height: auto;    
    padding: 0.250em;
}

/* SIZING CHANGES FOR "GOOGLE DRIVE VIDEOS"*/
@media only screen and (min-width: 300px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 50px;
        margin-right: 50px;
    }}

@media only screen and (min-width: 600px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 100px;
        margin-right: 100px;
    }}

@media only screen and (min-width: 1280px) {
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 -> 9/16x100 */
        overflow: hidden;
        margin-left: 100px;
        margin-right: 100px;
    }
    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }}    

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* SIZING: SOCIAL MEDIA HYPERLINKS */
.social-media {
    text-align: center;
    padding: 2em 0;
}

.media-button {
    height: 50px;
    width: 50px;
}

.contact {
    text-align: center;
}

/* HOVER STYLES */

/* unvisited link */
a.links:link {
    color: #7878ff;
    text-decoration: none;
}

/* visited link */
a.links:visited {
    color: #0066ff;
    text-decoration: none;
}

/* mouse over link */
a.links:hover {
    color: #9a9aff;
    text-decoration: none;
}

/* selected link */
a.links:active {
    color: #316ae6;
    text-decoration: none;
}

a.links {
    font-family: 'Roboto', sans-serif;
}

footer, p.footer {
    text-align: center;
    padding: .5em 0 .5em 0;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

/* BACK TO TOP BUTTON */
#myBtn {
    font-family: 'Roboto', sans-serif;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

button.inline {
    font-family: 'Roboto', sans-serif;
    font-size: 1em; /* 16px */
    background-color: rgb(50, 50, 50);
    border: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

button.inline:hover {
    background-color: #555;
}

/*----- NAV MENU -----*/
#navGroup {
    position: fixed;
    width: 100vw;
    height: 78px;
    z-index: 99;
}

.navShader {
    background-color: #000;
    transition: all 0.3s;
}

nav {
    top: 0;
    left: 0;
    z-index: 1;
    width: 35%;
    position: absolute;
  }
  nav .menu {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    width: 20em;
    height: 100vh;
    background: #444444;
    padding: 6em 0 2em;
    position: absolute;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0.5, 0, 1);
    transition: -webkit-transform 0.3s cubic-bezier(1, 0.5, 0, 1);
    transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1);
    transition: transform 0.3s cubic-bezier(1, 0.5, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0.5, 0, 1);
  }
  nav .menu.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  nav .menu li {
    list-style: none;
  }
  nav .menu li a {
    padding: 1em;
    color: #fff;
    display: block;
    background: none;
    /*line-height: 1em;*/
    padding-left: 3em;
    text-decoration: none;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
  nav .menu li a span {
    font-size: 22px;
    font-family: 'Overpass', sans-serif;
    border-bottom: none;
  }
  nav .menu li a:hover, nav .menu li a:focus, nav .menu li a:active {
    background: rgba(255, 255, 255, 0.2);
    color: #9a9aff;
  }
  
  .menu-toggle {
    top: 24px;
    left: 24px;
    z-index: 2;
    width: 36px;
    height: 4px;
    padding: 12px 0;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
  }
  .menu-toggle span {
    height: 4px;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    background: #9a9aff;
    border-radius: 2px;
    white-space: nowrap;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  .menu-toggle::before, .menu-toggle::after {
    left: 0;
    content: '';
    width: 36px;
    height: 4px;
    background: #9a9aff;
    border-radius: 2px;
    position: absolute;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  .menu-toggle::before {
    top: 0;
  }
  .menu-toggle::after {
    bottom: 0;
  }
  .menu-toggle.menu-open span {
    background: rgba(255, 255, 255, 0);
  }
  .menu-toggle.menu-open::before {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-toggle.menu-open::after {
    bottom: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-toggle.menu-open::before, .menu-toggle.menu-open::after {
    width: 36px;
    background: #fff;
  }
  .menu-toggle.menu-open:hover span, .menu-toggle.menu-open:focus span, .menu-toggle.menu-open:active span {
    background: rgba(255, 255, 255, 0);
  }
  .menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:active::before {
    top: 8px;
    left: -3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::after {
    left: 6px;
    bottom: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::before, .menu-toggle.menu-open:active::after {
    width: 16px;
  }
  .menu-toggle:hover span, .menu-toggle:focus span, .menu-toggle:active span {
    background: rgba(255, 255, 255, 0);
  }
  .menu-toggle:hover::before, .menu-toggle:focus::before, .menu-toggle:active::before {
    top: 16px;
    left: -2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu-toggle:hover::after, .menu-toggle:focus::after, .menu-toggle:active::after {
    left: 9px;
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-toggle:hover::before, .menu-toggle:hover::after, .menu-toggle:focus::before, .menu-toggle:focus::after, .menu-toggle:active::before, .menu-toggle:active::after {
    width: 18px;
  }